@model DailyExpense

@{
    ViewData["Title"] = "Create";
}

<div class="container mb-2">
    <div class="row">
        <div class="col-8 offset-2 shadow p-3 mb-5 bg-white rounded">
            <h3>Daily Expenses List</h3>
            <form method="post" asp-action="Create" asp-controller="DailyExpense">
                
                <div class="form-group row my-2">
                    <label class="col-form-label col-form-label-sm col-2">Expense Date</label>
                    <div class="col-6">
                        <input type="text" asp-for="ExpenseDate" class="form-control form-control-sm"/>
                        <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label asp-for="ExpenseCategoryId" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-6">
                        <select asp-for="ExpenseCategoryId" class="form-select form-select-sm"
                                asp-items="@(new SelectList(ViewBag.Categories, "ExpenseCategoryId", "CategoryName"));" required>
                            <option selected="selected" value="">Select ExpenseCategory</option>
                        </select>
                        <span asp-validation-for="ExpenseCategoryId" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label asp-for="Amount" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-6">
                        <input type="text" asp-for="Amount" class="form-control form-control-sm" placeholder="Enter your price" />
                        <span asp-validation-for="Amount" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-6 offset-2">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col">
                    <a class="btn btn-dark" asp-action="Index" asp-controller="DailyExpense"><i class="bi bi-layer-backward "> Back</i></a>
                </div>
            </div>
        </div>
    </div>

</div>


@section styles {
    <link href="~/libs/icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/libs/datepicker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/validate/jquery.validate.js"></script>
    <script src="~/libs/validate/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/datepicker/js/bootstrap-datepicker.min.js"></script>

    <script>
        $("#ExpenseDate").datepicker({
            format: 'yyyy-mm-dd'
        });
    </script>
}

