
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="offset-sm-2 col-6 shadow p-3 mb-5 bg-white rounded">
        <div class="d-flex justify-content-end mb-1">
            <div class="col-11 "><h3>Welcome Daily Expense Tracker App</h3></div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/libs/icons/font/bootstrap-icons.css" rel="stylesheet" />
}

